@inherits Umbraco.Web.Mvc.UmbracoViewPage
<form action="/search" method="get" role="search" class="form-search">
    <div class="form-group row">
        <div class="col-lg-6 col-md-10 col-sm-10 col-xs-12">
            <label for="Search" class="sr-only sr-only-focusable">Search</label>
            <input type="text" id="search" name="search" class="form-control" placeholder="Search Term">
        </div>
        <div class="col-lg-6 col-md-2 col-sm-2 col-xs-12">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
        </div>
    </div>
</form>