// ----------------------------------
// VARIABLES
// ----------------------------------

// BASE MEDIA QUERIES
$device-sm: 540px;
$device-md-max: 767px; // MAX WIDTH IPAD FIX
$device-md: 768px;
$device-lg: 992px;
$device-xl: 1200px;

// FONT SIZE
$font-base-size: 16px;
$font-line-height: 1.5em;

// FONT FAMILIES
$font-header: 'Montserrat', sans-serif;
$font-family: 'Montserrat', sans-serif;
$font-serif: 'Roboto Slab', serif;

// COMPONENTS THEME
$pc-light: #fff;
$pc-dark: #000;



// ----------------------------------
// EXTEND
// ----------------------------------

.animate-all {
    transition: .3s ease all;
}

.header-text {
    font-family: $font-header;
    font-weight: 600;
}

.transform-scale {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

    &:hover {
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.15);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.15);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.15);
        transition: all 200ms ease-in;
        transform: scale(1.15);
    }
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


// ----------------------------------
// MIXIN
// ----------------------------------


// FONT AWESOME
@mixin fontawesome($weight) {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: $weight; // 900 SOLID, 400 REGULAR OR BRANDS, 300 LIGHT
}

// ----------------------------------
// LAYOUT
// ----------------------------------

// GENERAL
.no-gutter {
    @media (min-width: $device-sm) {
        padding-left: 0;
        padding-right: 0;
    }
}

img {
    max-width: 100%;
    height: auto !important;
}

ol, ul, p {
    margin-bottom: $space-p;
}

b, strong {
    font-weight: bold; // OVERRIDE BOOTSTRAP BOLDER 
}

// UMBRACO GRID
.umb-grid {
    .no-gutters {
        .row {
            .column {
                padding: 0;
    
                &:first-child {
                    padding-left: $space-gutter;
                }
    
                &:last-child {
                    padding-right: $space-gutter;
                }
            }
        }
    }
    .align-items-center {
        .row {
            align-items: center;
        }
    }
}

// RICH TEXT EDITOR
img.img-left {
    float: left;
    margin-right: 1em;

    @media (max-width: $device-md)
    {
        float: none;
        margin-right: 0;
        margin-bottom: $space-p;
    }
}

img.img-right {
    float: right;
    margin-left: 1em;

    @media (max-width: $device-md)
    {
        float: none;
        margin-left: 0;
        margin-bottom: $space-p;
    }
}

// GRID MEDIA OBJECT
.caption {
    font-style: italic;
    font-size: .75rem;
    margin: .25rem 0 0 0;
}


// ----------------------------------
// PAGE COMPONENTS
// ----------------------------------

// INTRO TEXT
.intro-text, .outro-text {
    text-align: center;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.intro-text {
    margin-bottom: $space-sm;
}

.outro-text {
    margin-top: $space-sm;
}

// GRID LAYOUT
.pc-grid-layout {
    p, ul, ol {
        &:last-child {
            margin-bottom: 0;
        }
    }
}


// ----------------------------------
// THEME
// ----------------------------------

// GENERAL
body {
    font-family: $font-family;
    font-size: $font-base-size;
    line-height: $font-line-height;
    word-break: break-word;
}

.text-right {
    @media (max-width: 768px)
    {
        text-align: center;
    }
}

// GENERAL LIGHT THEME
.theme-light {
    color: $pc-light;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $pc-light;
    }

    a {
        color: $pc-light;
    }
}

// GENERAL DARK THEME
.theme-dark {
    color: $pc-dark;

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $pc-dark;
    }

    a {
        color: $pc-dark;
    }
}