// HEADERS
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    display: block;
    @extend .header-text;

    @media(max-width: $device-md) {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }
}

h1, .h1 {
    
}

h2, .h2 {
    
}

h3, .h3 {
    
}

h4, .h4 {
    
}

h5, .h5 {
    
}

h6, .h6 {
    
}

// FONT STYLES
.lead {
    font-size: 1.571em; // 22px
    @media (max-width: $device-lg)
    {
        font-size: 1.286em; // 18px
    }
    @media (max-width: $device-md)
    {
        font-size: 1em;
    }
}

// FONT SIZES
.fs30 {
    font-size: 2.143em; // 30px
}

.fs22 {
    font-size: 1.571em; // 22px
}

.fs18 {
    font-size: 1.286em; // 18px
}

.fs16 {
    font-size: 1.143em; // 16px
}

.fs14 {
    font-size: 1em; // 14px
}

.fs12 {
    font-size: 0.857em; // 12px
}