.mt-0 {
  margin-top: 0;
}

.mt-p {
  margin-top: 2.143rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-p {
  margin-bottom: 2.143rem;
}

.mt-xs {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 25px;
}

.mt-md {
  margin-top: 50px;
}

.mt-lg {
  margin-top: 75px;
}

.mb-xs {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 25px;
}

.mb-md {
  margin-bottom: 50px;
}

.mb-lg {
  margin-bottom: 75px;
}

.pt-xs {
  padding-top: 1rem;
}

.pt-sm {
  padding-top: 25px;
}

.pt-md {
  padding-top: 50px;
}

.pt-lg {
  padding-top: 75px;
}

.pb-xs {
  padding-bottom: 1rem;
}

.pb-sm {
  padding-bottom: 25px;
}

.pb-md {
  padding-bottom: 50px;
}

.pb-lg {
  padding-bottom: 75px;
}

.plr-md {
  padding-left: 50px;
  padding-right: 50px;
}

.header-text, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.animate-all {
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

@media (min-width: 540px) {
  .no-gutter {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto !important;
}

ol, ul, p {
  margin-bottom: 2.143rem;
}

b, strong {
  font-weight: bold;
}

.umb-grid .no-gutters .row .column {
  padding: 0;
}

.umb-grid .no-gutters .row .column:first-child {
  padding-left: 15px;
}

.umb-grid .no-gutters .row .column:last-child {
  padding-right: 15px;
}

.umb-grid .align-items-center .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img.img-left {
  float: left;
  margin-right: 1em;
}

@media (max-width: 768px) {
  img.img-left {
    float: none;
    margin-right: 0;
    margin-bottom: 2.143rem;
  }
}

img.img-right {
  float: right;
  margin-left: 1em;
}

@media (max-width: 768px) {
  img.img-right {
    float: none;
    margin-left: 0;
    margin-bottom: 2.143rem;
  }
}

.caption {
  font-style: italic;
  font-size: .75rem;
  margin: .25rem 0 0 0;
}

.intro-text, .outro-text {
  text-align: center;
}

.intro-text h1:last-child, .intro-text h2:last-child, .intro-text h3:last-child, .intro-text h4:last-child, .intro-text h5:last-child, .intro-text h6:last-child, .intro-text .h1:last-child, .intro-text .h2:last-child, .intro-text .h3:last-child, .intro-text .h4:last-child, .intro-text .h5:last-child, .intro-text .h6:last-child, .intro-text p:last-child, .outro-text h1:last-child, .outro-text h2:last-child, .outro-text h3:last-child, .outro-text h4:last-child, .outro-text h5:last-child, .outro-text h6:last-child, .outro-text .h1:last-child, .outro-text .h2:last-child, .outro-text .h3:last-child, .outro-text .h4:last-child, .outro-text .h5:last-child, .outro-text .h6:last-child, .outro-text p:last-child {
  margin-bottom: 0;
}

.intro-text {
  margin-bottom: 25px;
}

.outro-text {
  margin-top: 25px;
}

.pc-grid-layout p:last-child, .pc-grid-layout ul:last-child, .pc-grid-layout ol:last-child {
  margin-bottom: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  word-break: break-word;
}

.theme-light {
  color: #fff;
}

.theme-light h1, .theme-light h2, .theme-light h3, .theme-light h4, .theme-light h5, .theme-light h6, .theme-light .h1, .theme-light .h2, .theme-light .h3, .theme-light .h4, .theme-light .h5, .theme-light .h6 {
  color: #fff;
}

.theme-light a {
  color: #fff;
}

.theme-dark {
  color: #000;
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6, .theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6 {
  color: #000;
}

.theme-dark a {
  color: #000;
}

.navbar-brand {
  max-width: 250px;
}

@media (min-width: 1200px) {
  .navbar-nav.has-hover > li.nav-item > a.nav-link {
    display: inline-block;
  }
  .navbar-nav.has-hover > li.nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-nav.has-hover > li.nav-item.dropdown a.nav-link.dropdown-toggle {
    padding-left: .25rem;
    padding-right: .25rem;
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  .navbar-nav.has-hover > li.nav-item.dropdown a.nav-link.dropdown-toggle:focus, .navbar-nav.has-hover > li.nav-item.dropdown a.nav-link.dropdown-toggle:active {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
  .navbar-nav.has-hover > li.nav-item.dropdown a.nav-link.dropdown-toggle::after {
    margin-left: 0;
  }
}

.navbar-nav.has-arrows > li.nav-item > a.nav-link {
  display: inline-block;
}

.navbar-nav.has-arrows > li.nav-item.dropdown a.nav-link:first-child {
  padding-right: 0;
}

.navbar-nav.has-arrows > li.nav-item.dropdown a.nav-link.dropdown-toggle {
  padding-left: .25rem;
}

.navbar-nav.has-arrows > li.nav-item.dropdown a.nav-link.dropdown-toggle::after {
  margin-left: 0;
}

@media (max-width: 1200px) and (min-width: 992px) {
  .navbar-nav.has-arrows > li.nav-item.dropdown a.nav-link:first-child {
    padding-right: .5rem;
    padding-bottom: 0;
  }
  .navbar-nav.has-arrows > li.nav-item.dropdown a.nav-link.dropdown-toggle {
    padding-left: .5rem;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
  }
}

@media (max-width: 1200px) {
  .navbar-nav.has-menu > li.nav-item > a.nav-link {
    display: inline-block;
  }
  .navbar-nav.has-menu > li.nav-item > a.nav-link:first-child {
    width: 100%;
  }
  .navbar-nav.has-menu > li.nav-item.dropdown a.nav-link:first-child {
    padding-right: 0;
    width: calc(100% - 50px);
  }
  .navbar-nav.has-menu > li.nav-item.dropdown a.nav-link.dropdown-toggle {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: -4px;
    width: 50px;
    text-align: center;
  }
}

.dropdown-menu {
  margin: 0;
}

@media (max-width: 768px) {
  .banner .align-left {
    text-align: center;
  }
}

.banner .align-right {
  text-align: right;
}

@media (max-width: 768px) {
  .banner .align-right {
    text-align: center;
  }
}

.banner .text-subtext p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .banner-sm .row {
    min-height: 300px;
  }
}

@media screen and (min-width: 768px) and (-ms-high-contrast: active), screen and (min-width: 768px) and (-ms-high-contrast: none) {
  .banner-sm .row {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .banner-md .row {
    min-height: 480px;
  }
}

@media screen and (min-width: 768px) and (-ms-high-contrast: active), screen and (min-width: 768px) and (-ms-high-contrast: none) {
  .banner-md .row {
    height: 480px;
  }
}

@media (min-width: 768px) {
  .banner-lg .row {
    min-height: 630px;
  }
}

@media screen and (min-width: 768px) and (-ms-high-contrast: active), screen and (min-width: 768px) and (-ms-high-contrast: none) {
  .banner-lg .row {
    height: 630px;
  }
}

.banner .mobile-img {
  display: none;
}

@media (max-width: 767px) {
  .banner .mobile-img {
    display: block;
    text-align: center;
  }
}

.banner .text {
  padding: 2rem 0;
}

.banner .text-subtitle {
  margin-bottom: 2.143rem;
}

.banner .text.title-only .text-title {
  margin-bottom: 0;
}

.banner.theme-dark .text {
  color: #000;
}

.banner.theme-dark .text-title {
  color: #000;
}

.banner.theme-dark .text-subtitle {
  color: #000;
}

.banner.theme-light .text {
  color: #fff;
}

.banner.theme-light .text-title {
  color: #fff;
}

.banner.theme-light .text-subtitle {
  color: #fff;
}

@media (max-width: 768px) {
  .banner.theme-light .text {
    color: #000;
  }
  .banner.theme-light .text-title {
    color: #000;
  }
  .banner.theme-light .text-subtitle {
    color: #000;
  }
}

.banner.has-overlay.theme-dark .text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
  .banner.has-overlay.theme-dark .text {
    background-color: transparent;
    padding: 1rem 0;
  }
}

.banner.has-overlay.theme-light .text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem 1.5rem;
}

@media (max-width: 768px) {
  .banner.has-overlay.theme-light .text {
    background-color: transparent;
    padding: 1rem 0;
  }
}

@media all and (-ms-high-contrast: none) {
  .text-with-image {
    /* IE11 */
  }
  .text-with-image .image {
    width: 100%;
    /* IE10 */
  }
  .text-with-image *::-ms-backdrop, .text-with-image .image {
    width: 100%;
  }
}

.text-with-image .text {
  margin: 2.143rem 0;
}

@media (max-width: 768px) {
  .text-with-image .text {
    text-align: center;
  }
  .text-with-image .text.text-right, .text-with-image .text.text-left {
    text-align: center !important;
  }
}

.text-with-image .text p:last-child {
  margin-bottom: 0;
}

.text-with-image .image-outside {
  position: relative;
}

@media (max-width: 768px) {
  .text-with-image .image-outside .image {
    margin-bottom: 0;
  }
}

.text-with-image .image-outside .text {
  display: table-cell;
}

@media (max-width: 768px) {
  .text-with-image .image-outside .text {
    padding: 25px 0;
  }
}

.text-with-image .image-outside.image-left .image {
  position: absolute;
}

@media (max-width: 768px) {
  .text-with-image .image-outside.image-left .image {
    position: relative;
  }
}

.text-with-image .image-outside.image-right .image {
  position: absolute;
}

@media (max-width: 768px) {
  .text-with-image .image-outside.image-right .image {
    position: relative;
    right: 0;
  }
}

.text-with-image .image-outside .align-items-center .text {
  vertical-align: middle;
}

.text-with-image .image-outside .align-items-start .text {
  vertical-align: top;
}

.text-with-image .image-outside .align-items-end .text {
  vertical-align: bottom;
}

.animate-all {
  -webkit-transform: .3s ease all;
          transform: .3s ease all;
}

.transform-scale {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.transform-scale:hover {
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.15);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.15);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.15);
  transition: all 200ms ease-in;
  transform: scale(1.15);
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* GENERAL */
@media (max-width: 768px) {
  .text-right {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
}

@media (max-width: 768px) {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
}

.lead {
  font-size: 1.571em;
}

@media (max-width: 992px) {
  .lead {
    font-size: 1.286em;
  }
}

@media (max-width: 768px) {
  .lead {
    font-size: 1em;
  }
}

.fs30 {
  font-size: 2.143em;
}

.fs22 {
  font-size: 1.571em;
}

.fs18 {
  font-size: 1.286em;
}

.fs16 {
  font-size: 1.143em;
}

.fs14 {
  font-size: 1em;
}

.fs12 {
  font-size: 0.857em;
}

/*  INTRO OUTRO TEXT */
.intro-text .intro-content, .intro-text .outro-content, .outro-text .intro-content, .outro-text .outro-content {
  font-size: 1.286em;
}

.intro-text.theme-dark, .outro-text.theme-dark {
  color: #000;
}

.intro-text.theme-dark .intro-title, .intro-text.theme-dark .outro-title, .outro-text.theme-dark .intro-title, .outro-text.theme-dark .outro-title {
  color: #000;
}

.intro-text.theme-light, .outro-text.theme-light {
  color: #fff;
}

.intro-text.theme-light .intro-title, .intro-text.theme-light .outro-title, .outro-text.theme-light .intro-title, .outro-text.theme-light .outro-title {
  color: #fff;
}

/* INTRO TEXT */
.intro-text {
  margin-bottom: 50px;
}

/* OUTRO TEXT */
.outro-text {
  margin-top: 50px;
}
/*# sourceMappingURL=main.css.map */